name: Django CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: drf_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 123456
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d drf_db"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      # Django
      DJANGO_SETTINGS_MODULE: config.settings
      PYTHONPATH: .

      POSTGRES_DB: drf_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_HOST: 127.0.0.1
      POSTGRES_PORT: "5432"

      CELERY_BROKER_URL: redis://localhost:6379/0
      CELERY_RESULT_BACKEND: redis://localhost:6379/0

      # Other basics
      SECRET_KEY: "dummy-secret-key-for-ci"
      DEBUG: "0"

      # Database envs
      DB_NAME: app
      DB_USER: app
      DB_PASSWORD: app
      DB_HOST: localhost
      DB_PORT: "5432"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt', 'pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run database migrations
        run: |
          python manage.py migrate --noinput

      - name: Run linters (ruff)
        run: |
          ruff check .

      - name: Run tests (pytest)
        run: |
          pytest -vv
